@use 'vars' as *;

.main-content {
    background-color: #fff;
}

.separation {
    height: 80px;;
    background-color: $blue;;
}

.comic-content {

    h1 {
        color: $grey;
    }

    div {
        color: white;
        display: flex;
    }

    .green-band {
        background-color: $green;
        display: flex;
        justify-content: space-between;
    }
}