// @import '~bootstrap/scss/bootstrap';

// Import all scss
@use "header";
@use "utils";
@use "footer";
@use "reset";
@use "vars";
@use "main";
@use "blueband";
@use "card";
@use 'mixin' as *;

body {
    background-color: black;
    font-family: "Open Sans", sans-serif;
}

// Utils
.container {
    @include container;
}

img {
    @include img-fluid;
}


ul {
    display: flex;

    li {
        list-style-type: none;
        padding: 0 5px;
    }
}

a {
    text-decoration: none;
}